// Width
$website-width: 1280px;

// Colors
$cyan: #0e8784;
$lt-cyan: #66d2cf;
$grey-blue: #333d4b;
$orange: #fdd6ba;
$cream: #fefcf7;
$grey: #83888f;
$dk-cream: #e2dedb;
$lt-cream: #f4f1eb;
$dark: #2c343e;

// Fonts
$barlow: 'Barlow', sans-serif;
$fraunces: 'Fraunces', serif;
