// Tablets
@media (max-width: 900px) {
  // Classes
  .left {
    grid-area: left;
  }

  .top-right {
    grid-area: top-right;
    align-self: center;
  }

  .bot-right {
    grid-area: bot-right;
  }

  .coff-container {
    display: grid;
    align-items: start;
    grid-template-columns: 60%;
    grid-template-areas:
      'left top-right'
      'left bot-right';
  }

  .card {
    width: 575px;
    height: 180px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .step {
    width: 100%;
    margin-right: 2rem;
  }

  .footer-container {
    padding: 3.5rem;
  }

  .modal-content {
    margin: 30% auto;
    width: 80%;
  }

  .modal-footer {
    padding-bottom: 50px;
  }

  // Main App
  header {
    margin-bottom: 30px;
  }

  #home-a {
    background-size: cover;
    background-position: center;
    height: 500px;

    &-content {
      width: 60%;
      margin-left: 4rem;

      h1 {
        font-size: 48px;
        line-height: 48px;
      }
    }
  }

  #home-b {
    margin-bottom: 135px;

    #our-coll-container {
      h1 {
        font-size: 100px;
        line-height: 80px;
      }
    }

    &-content {
      margin-top: 50px;
      flex-direction: column;

      p {
        text-align: left;
      }
    }
  }

  #home-c {
    margin-bottom: 300px;

    &-bg {
      width: 94%;
    }

    &-title {
      width: 80%;
      height: 37%;
    }

    &-cards {
      flex-direction: column;
      align-items: center;
    }
  }

  #home-d {
    h3 {
      margin-bottom: 50px;
    }

    #steps {
      h3 {
        width: 100%;
      }
    }
  }

  #home-e {
    margin-bottom: 140px;
  }

  #about-a {
    background-position: center top;
    height: 400px;
    margin-bottom: 100px;

    h1 {
      font-size: 32px;
      line-height: 40px;
    }
  }

  #about-b {
    &-pic {
      width: 280px;
      height: 470px;
    }

    &-text {
      width: 52%;
      h2 {
        font-size: 36px;
        margin-bottom: 20px;
      }
    }
  }

  #about-c {
    &-bg {
      height: 488px;
      width: 688px;
      top: 170px;
    }

    &-text {
      justify-content: flex-end;
      align-items: center;
      width: 80%;

      h2 {
        font-size: 32px;
        line-height: 48px;
      }

      p {
        text-align: center;
      }
    }

    &-pic {
      background-size: cover;
      background-position-y: bottom;
      position: absolute;
      height: 320px;
      width: 575px;
    }
  }

  #plan-a {
    background-position: 30%;
    margin-bottom: 140px;

    &-content {
      width: 45%;
      margin-left: 4rem;
    }

    h1 {
      font-size: 48px;
      line-height: 48px;
    }
  }

  #plan-b {
    width: 98%;
    padding: 100px 30px 100px 30px;
    margin-left: -1.5rem;

    #plan-steps {
      h3 {
        width: 80%;
      }
    }
  }

  #plan-c {
    display: inline;
    width: 100%;

    &-side-bar {
      display: none;
    }

    &-main {
      #plan-c-summary {
        width: 100%;
      }

      #create-plan-btn {
        float: none;
        margin-bottom: 100px;
        margin-left: 35%;
      }
    }
  }

  footer {
    flex-direction: column;

    #footer-left {
      flex-direction: column;

      ul {
        padding-left: 0;
      }
    }
  }
}

// Smart Phones
@media (max-width: 500px) {
  // Classes
  .coff-container {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .card {
    width: 280px;
    height: 380px;
  }

  .location {
    margin-bottom: 80px;
    align-items: center;
    margin-right: 0px;
    width: 100%;
    height: 215px;
  }

  .step {
    text-align: center;
    margin-bottom: 56px;
  }

  .dropdown-title {
    text-align: left;
  }

  .plan-c-options {
    flex-direction: column;
  }

  .option-card {
    max-width: 1000px;
    width: 328px;
    height: 170px;
    margin-bottom: 10px;
  }

  .modal-content {
    margin: 10% auto;
    height: 85%;
    text-align: left;
  }

  .modal-header {
    height: 70px;
  }

  .modal-quote {
    line-height: 30px;
    padding: 30px 30px 0 30px;
  }

  .modal-paragraph {
    padding-top: 10px;
  }

  .modal-footer {
    display: none;
  }

  .mobile-modal-footer {
    display: inline;
  }

  .mobile-btn {
    height: 55px;
    width: 90%;
    margin-left: 5%;
    margin-top: auto;
    border-radius: 6px;
    background: #0e8784;
    align-items: center;
    text-align: center;
    border: none;
    color: #fefcf7;
    font-family: 'Fraunces', serif;
  }

  // Hamburger Menu
  #close-btn::before,
  #close-btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: $grey-blue;
  }

  #close-btn::before {
    transform: rotate(45deg);
  }

  #close-btn::after {
    transform: rotate(-45deg);
  }

  .hamburger-menu {
    display: flex;
  }

  .three-lines {
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-line {
    height: 3px;
    width: 20px;
    border-radius: 3px;
    background: $grey-blue;
  }

  .close-btn {
    position: relative;
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
  }

  // Hamburger Menu Modal
  .hamburger-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 15%;
    width: 100%;
    height: 85%;
    background: linear-gradient(
      180deg,
      #fefcf7 40%,
      rgba(254, 252, 247, 0.504981)
    );
  }

  .hamburger-modal-content {
    text-align: center;
  }

  .hamburger-list {
    display: flex;
    flex-direction: column;
  }

  .hamburger-item {
    font-family: $fraunces;
    font-size: 32px;
    line-height: 12px;
    padding: 2rem 0 2rem 0;
  }

  .hamburger-link {
    color: $grey-blue;
  }

  // Main App
  header {
    margin-bottom: 0px;
    height: 100px;

    #header-list {
      display: none;
    }
  }

  #home-a {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/dist/images/home/desktop/image-hero-coffeepress.jpg) no-repeat center /
        cover;
    background-position: 65%;
    height: 500px;
    text-align: center;
    margin-bottom: 80px;

    &-content {
      width: 80%;
      margin-left: 2rem;

      h1 {
        font-size: 38px;
        line-height: 40px;
        padding-bottom: 20px;
      }
    }
  }

  #home-b {
    margin-bottom: 80px;

    #our-coll-container {
      h1 {
        font-size: 40px;
        line-height: 40px;
      }
    }

    &-content {
      margin-top: 80px;
      flex-direction: column;

      img {
        margin-bottom: 20px;
      }

      h3 {
        margin-bottom: 20px;
      }

      p {
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }

  #home-c {
    height: 900px;
    margin-bottom: 700px;

    &-bg {
      width: 88%;
      height: 900px;
    }

    &-title {
      height: 30%;

      h2 {
        font-size: 28px;
        line-height: 28px;
      }

      p {
        line-height: 22px;
      }
    }

    &-cards {
      flex-direction: column;
      align-items: center;
    }
  }

  #home-d {
    text-align: center;

    #circle-line {
      display: none;
    }

    #steps {
      flex-direction: column;

      h1 {
        margin-bottom: 20px;
      }

      h3 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 40px;
      }
    }
  }

  #home-e {
    text-align: center;
  }

  #about-a {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/dist/images/about/desktop/image-hero-whitecup.jpg) no-repeat center /
        cover;
    background-position: 55%;
    text-align: center;
    margin-bottom: 80px;

    &-content {
      width: 80%;
      margin-left: 2rem;

      h1 {
        font-size: 38px;
        line-height: 40px;
        padding-bottom: 20px;
      }
    }
  }

  #about-b {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;

    &-pic {
      width: 327px;
      height: 400px;
      margin-bottom: 40px;
    }

    &-text {
      width: 100%;
      text-align: center;

      h2 {
        font-size: 32px;
      }
    }
  }

  #about-c {
    margin-bottom: 120px;
    &-bg {
      height: 509px;
      width: 327px;
      top: 70px;
    }

    &-text {
      justify-content: flex-end;
      align-items: center;
      width: 80%;
      padding-bottom: 40px;

      h2 {
        font-size: 28px;
        line-height: 28px;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    &-pic {
      background-size: cover;
      background-position-y: bottom;
      position: absolute;
      height: 155px;
      width: 280px;
    }
  }

  #about-d {
    text-align: center;
    margin-bottom: 120px;

    &-locations {
      flex-direction: column;
      align-items: center;

      h3 {
        margin-top: 40px;
      }
    }
  }

  #plan-a {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/dist/images/plan/desktop/image-hero-blackcup.jpg) no-repeat center /
        cover;
    background-position: 55%;
    text-align: center;
    margin-bottom: 80px;
    height: 400px;

    &-content {
      width: 80%;
      margin-left: 2rem;

      h1 {
        font-size: 38px;
        line-height: 40px;
        padding-bottom: 20px;
      }
    }
  }

  #plan-b {
    height: 1028px;
    width: 100vw;
    padding: 100px 0 0 0;

    #plan-circle-line {
      display: none;
    }

    #plan-steps {
      flex-direction: column;

      h3 {
        width: 100%;
      }

      p {
        width: 90%;
        margin: auto;
      }
    }
  }

  #plan-c {
    &-main {
      text-align: center;

      h1 {
        font-size: 24px;
        line-height: 28px;
      }

      #create-plan-btn {
        margin-left: 0;
      }

      &-summary {
        p {
          margin: 0 0 20px 0;
        }
      }
    }

    #my-modal {
      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }

  footer {
    #footer-left {
      img {
        margin-bottom: 20px;
      }
      ul {
        padding-left: 0;
        flex-direction: column;
        text-align: center;

        li {
          padding: 1rem 0 1rem 0;
        }
      }

      margin-bottom: 20px;
    }
  }
}
