@import 'config';
@import 'utilities';

// General
* {
  margin: 0;
  padding: 0;
}

body {
  background: $cream;
  font-family: $barlow;
}

a {
  text-decoration: none;
  color: $grey;

  &:hover {
    color: $grey-blue;
  }
}

ul {
  list-style: none;
}

// Header
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
  }

  li {
    padding: 2rem 0 2rem 1.5rem;
  }
}

// Home
#home-a {
  background-image: url(/images/home/desktop/image-hero-coffeepress.jpg);
  height: 600px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 135px;

  &-content {
    width: 40%;
    margin-left: 6rem;

    h1 {
      padding-bottom: 40px;
    }

    p {
      padding-bottom: 40px;
    }
  }
}

#home-b {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  align-items: center;

  #our-coll-container {
    position: absolute;
    opacity: 0.5;

    h1 {
      font-family: $fraunces;
      font-size: 150px;
      line-height: 120px;
      background: -webkit-linear-gradient(to bottom, #83888f 0%, #fefcf7 100%);
      background: -moz-linear-gradient(to bottom, #83888f 0%, #fefcf7 100%);
      background: linear-gradient(to bottom, $grey-blue 0%, $cream 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &-content {
    z-index: 1;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;

    img {
      width: 80%;
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      color: $grey-blue;
    }
  }
}

#home-c {
  height: 700px;
  margin-bottom: 175px;

  &-bg {
    position: absolute;
    height: 575px;
    width: 100%;
    max-width: $website-width;
    background: $dark;
    border-radius: 10px;
    z-index: -1;
  }

  &-title {
    height: 50%;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: $cream;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
    }
  }

  &-cards {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-evenly;

    img {
      padding: 20px;
    }

    h3 {
      color: $cream;
    }

    p {
      text-align: center;
      width: 80%;
    }
  }
}

#home-d {
  width: 88%;
  margin: auto;
  margin-bottom: 100px;

  h3 {
    color: $grey;
    margin-bottom: 100px;
  }

  #circle-line {
    position: relative;
    border-bottom: 2px solid $orange;
    width: 67%;
    margin-bottom: 100px;
  }

  #steps {
    display: flex;
    justify-content: flex-start;
    h1 {
      color: $orange;
      margin-bottom: 40px;
    }

    h3 {
      color: $grey-blue;
      width: 70%;
      margin-bottom: 40px;
    }

    p {
      color: $grey-blue;
    }
  }
}

#home-e {
  width: 89%;
  margin: auto;
  margin-bottom: 150px;
}

// About
#about-a {
  background-image: url(/images/about/desktop/image-hero-blackcup.jpg);
  height: 450px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 175px;

  &-content {
    width: 40%;
    margin-left: 6rem;

    h1 {
      padding-bottom: 40px;
    }

    p {
      padding-bottom: 40px;
    }
  }
}

#about-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 175px;

  &-pic {
    background-image: url(/images/about/desktop/image-commitment.jpg);
    height: 520px;
    width: 445px;
    border-radius: 10px;
  }

  &-text {
    width: 50%;

    h2 {
      color: $grey-blue;
      margin-bottom: 40px;
    }

    p {
      color: $grey-blue;
    }
  }
}

#about-c {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 175px;
  height: 575px;

  &-bg {
    position: absolute;
    height: 475px;
    width: 100%;
    max-width: $website-width;
    background: $dark;
    border-radius: 10px;
    z-index: -1;
    top: 100px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 42%;

    h2 {
      margin-bottom: 20px;
    }
  }

  &-pic {
    background-image: url(/images/about/desktop/image-quality.jpg);
    height: 474px;
    width: 445px;
    border-radius: 10px;
  }
}

#about-d {
  width: 90%;
  margin: auto;
  margin-bottom: 175px;

  h3 {
    color: $grey;
    margin-bottom: 75px;
  }

  &-locations {
    display: flex;
    margin: auto;

    h3 {
      color: $grey-blue;
      margin-bottom: 0;
    }

    p {
      color: $grey-blue;
    }
  }
}

// Plan
#plan-a {
  background-image: url(/images/plan/desktop/image-hero-whitecup.jpg);
  height: 450px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 175px;

  &-content {
    width: 40%;
    margin-left: 6rem;

    h1 {
      padding-bottom: 40px;
    }

    p {
      padding-bottom: 40px;
    }
  }
}

#plan-b {
  margin: auto;
  padding: 100px;
  margin-bottom: 100px;
  background: $dark;
  border-radius: 8px;

  #plan-circle-line {
    position: relative;
    border-bottom: 2px solid $orange;
    width: 67%;
    margin-bottom: 100px;
  }

  #plan-steps {
    display: flex;
    justify-content: flex-start;
    h1 {
      color: $orange;
      margin-bottom: 40px;
    }

    h3 {
      color: $cream;
      width: 70%;
      margin-bottom: 40px;
    }

    p {
      color: $cream;
    }
  }
}

#plan-c {
  display: flex;
  width: 90%;
  margin: auto;

  &-side-bar {
    width: 350px;
    margin-right: 125px;
    li {
      padding-bottom: 10px;
      border-bottom: 1px solid $grey;
      margin-bottom: 10px;
    }
    :last-child {
      border-bottom: none;
    }
  }

  &-main {
    h1 {
      color: $grey;
    }
    h3 {
      color: $grey-blue;
      margin-bottom: 20px;
    }
    p {
      color: $grey-blue;
    }

    #plan-c-summary {
      width: 750px;
      background: $grey-blue;
      margin-top: 125px;
      border-radius: 8px;
      padding: 30px 0;
      margin-bottom: 50px;

      p {
        color: $grey;
        margin: 0 0 20px 40px;
      }

      h3 {
        color: #ffffff;
        margin: 0 40px 0 40px;
      }

      span {
        color: $cyan;
      }
    }

    #create-plan-btn {
      float: right;
      margin-bottom: 175px;
    }
  }
}

// Footer
footer {
  background: $dark;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      padding-left: 5rem;
    }

    li {
      padding: 2rem 0 2rem 1.5rem;

      a:hover {
        color: #ffffff;
      }
    }
  }

  #footer-right {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 30px;
      width: 30px;
    }
  }
}

@import 'mobile';
